@import 'tailwindcss';

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype'),
        url('/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype supports variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-base-green: #209460;
    --color-base-gray: #34495e;
    --font-merriweather: 'Merriweather', 'sans-serif';

}
