@import 'tailwindcss';

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype'),
        url('/fonts/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype supports variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --color-base-green: #209460;
    --color-base-gray: #34495e;
    --font-merriweather: 'Merriweather', 'sans-serif';
}

@layer base {
    .app-prose {
        h2 {
            @apply text-black text-2xl my-5 font-bold;
        }
        h3 {
            @apply text-black text-xl my-5 font-bold;
        }
        a {
            @apply text-base-green;
        }
        p {
            @apply mt-0 mb-[20px];
        }
        a {
          @apply no-underline text-base-green
        }
    }
}
