---
import { SITE_TITLE } from '../constants';
---

<header class="shadow-[0_0_3px_rgba(14,14,14,0.26)]">
    <nav class="flex max-w-[1200px] px-[40px] py-[10px] mx-auto justify-between flex-wrap">
        <h2><a class="text-base-green font-medium leading-[40px] text-xl" href="/">{SITE_TITLE}</a></h2>
        <ul class="flex leading-[40px] max-[300px]:hidden">
            <li class="">
                <a class="text-base-gray mx-[8px] pb-[3px] hover:border-b-3 hover:border-b-base-green" href="/">Home</a>
            </li>
            <li>
                <a class="text-base-gray mx-[8px] pb-[3px] hover:border-b-3 hover:border-b-base-green" href="/about">About</a>
            </li>
            <li>
                <a class="text-base-gray mx-[8px] pb-[3px] hover:border-b-3 hover:border-b-base-green" href="/search">Search</a>
            </li>
            <li>
                <a class="text-base-gray mx-[8px] pb-[3px] hover:border-b-3 hover:border-b-base-green" href="/">rss</a>
            </li>
        </ul>
    </nav>
</header>
<style></style>
